# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

#unpackage directory
.unpackage/
